* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #ffffff;
    --bg-color-dark: #0f0f0f;
    --bg-color-medium: #1d1f21;
    --border-radius: 8px;
    --font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --max-content-width: 1000px;
    --active-color: rgba(255, 255, 255, 0.15);
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    background-color: var(--bg-color-dark);
    color: var(--text-color);
    overflow-x: hidden;
    background-image: url('../assets/Backrounfinak.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}